{% extends "tripaulx/mail/code_base.html" %}{% load i18n %}
{% block title %}{% translate "Reset your password" %}{% endblock %}
{% block heading %}{% translate "Reset your password" %}{% endblock %}
{% block intro %}{% include "tripaulx/mail/greeting.txt" %} {% blocktranslate %}use the code below to reset your password on {{ app_name }}.{% endblocktranslate %}{% endblock %}
{% block note %}{% translate "If you did not ask for it, ignore this e-mail: your password stays the same." %}{% endblock %}
