"""Internationalization: English source strings, pt-BR translation."""

from django.utils.translation import gettext_lazy as _

from .common import BASE_DIR

USE_I18N = True
USE_TZ = True

LANGUAGE_CODE = "{{ language_code }}"
TIME_ZONE = "{{ time_zone }}"
LANGUAGES = [
    ("en", _("English")),
    ("pt-br", _("Brazilian Portuguese")),
]
LOCALE_PATHS = [BASE_DIR / "locale"]
